@import url(https://fonts.googleapis.com/css?family=Arvo);

.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 300px;
  text-indent: 70px;
  font-family:'Arvo';
  color: #fff;
  line-height: 30px;
  margin-bottom: 30px;
  background: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
  transition: all .3s ease-in-out;
}
.search-box:focus{
  text-indent: 12px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}
